aws_region      = "ap-south-1"
environment     = "dev"
project_name    = "devops-assessment"
vpc_cidr        = "10.0.0.0/16"
github_repo     = "YOUR_GITHUB_USERNAME/devops-aws-assessment"
certificate_arn = "arn:aws:acm:ap-south-1:123456789012:certificate/00000000-0000-0000-0000-000000000000"